body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('premium_photo-1676202363496-d2dd5465312d.avif');
    z-index: 4;
}

h1{
    color: rgb(248, 236, 14);
    font-size: 60px;
}

h3 {
    color:rgb(230, 230, 230);
    font-size: 40px;
}

li{
    color: rgb(207, 180, 239);
}

a {
    text-decoration: unset;
    color:rgb(207, 180, 239);
    font-size: 30px;
}